html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
	font-family: 'VT323', monospace;
}
.layer
{
	height: 100%!important;
	width: 100%!important;
    opacity: 0.5!important;
    width: 100%!important;
    background: linear-gradient(black,rgb(100,100,100),black)!important;
    position: absolute!important;
}
.message-box
{
    width: 30%!important;
    height: 150px!important;
    position: absolute!important;
    color: white!important;
    background-color: rgb(68,136,170)!important;
    margin-left: 35%!important;
    margin-top: 50px!important;
    box-shadow: 0 0 30px white !important;
    border-radius: 20px!important;
}
.message-box .loss-message {
    text-align: center!important;
    font-size: 54px!important;
    margin: 4%!important;
    font-family: 'VT323', monospace!important;
}
.message-box .button{
	padding: 6px 40px 6px 40px!important;
    margin-left: 35%!important;
    background-color: #B1D58B!important;
    box-shadow: 0 0 1px white!important;
    color: black!important;
    text-align: center!important;
    text-decoration: none!important;
    font-size: 32px!important;
    font-family: 'VT323', monospace!important;
    border: none;
    transition: 0.2s ease-in;
    border-radius: 30px!important;
}

.message-box .button:hover
{
	background-color: rgb(147,198,109)!important;
}